<div id="aboutFlexbox">
    <div id="aboutBlurb1" class="aboutBlurb">
        <p id="info1" class="aboutInfo jsSlideInModule">I graduated as Valedictorian from Hazel Park High School. I was unsure of what I wanted to do professionally, but I sure did love computers. With a blind passion for technology, I decided to apply to the University of Michigan with an intended major of Computer Engineering.</p>
        <img id="img1" class="aboutImg shadow jsSlideInModule" src="/assets/images/ryanGraduation.jpg"></img>
    </div>
    <div id="aboutBlurb2" class="aboutBlurb">
        <p id="info2" class="aboutInfo jsSlideInModule">After arriving at U of M, I quickly fell in love with programming, and I decided to change my major to Computer Science. Over the next four long years, I spent many sleepless nights learning the fundamentals of programming. The best part of all, I eventually discovered my passion for web development.</p>
        <img id="img2" class="aboutImg shadow jsSlideInModule" src="/assets/images/ryanUmich.jpg"></img>
    </div>
    <div id="aboutBlurb3" class="aboutBlurb">
        <p id="info3" class="aboutInfo jsSlideInModule">My class schedule consisted of many web development related courses, so I was really able to improve my skills as a web developer. This eventually led me to landing a job as a Junior Web Developer at McCreadie Group Inc, where I support software that aids in the research of investigational drugs. In my freetime, I continue to work on personal projects so I am constantly learning and improving as a web developer. Check out some of the projects I've worked on below, and thanks for visiting!</p>
        <img id="img3" class="aboutImg shadow jsSlideInModule" src="/assets/images/ryanMcCreadie.jpg"></img>
    </div>
</div>