<div id="aboutFlexbox">
    <div id="aboutBlurb1" class="aboutBlurb">
        <p id="info1" class="aboutInfo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, fugit, ex in aspernatur eius illo laborum, a autem unde iusto vitae dicta tempora. Quam voluptatem accusantium at, aut hic repellat illo sint! Porro asperiores modi beatae enim aspernatur sed velit nemo dolorum molestiae et? Facilis laboriosam reprehenderit doloremque veritatis labore!</p>
        <div id="img1" class="aboutImg shadow"></div>
    </div>
    <div id="aboutBlurb2" class="aboutBlurb">
        <p id="info2" class="aboutInfo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, fugit, ex in aspernatur eius illo laborum, a autem unde iusto vitae dicta tempora. Quam voluptatem accusantium at, aut hic repellat illo sint! Porro asperiores modi beatae enim aspernatur sed velit nemo dolorum molestiae et? Facilis laboriosam reprehenderit doloremque veritatis labore!</p>
        <div id="img2" class="aboutImg shadow"></div>
    </div>
    <div id="aboutBlurb3" class="aboutBlurb">
        <p id="info3" class="aboutInfo">Lorem ipsum dolor sit amet consectetur adipisicing elit. Nulla, fugit, ex in aspernatur eius illo laborum, a autem unde iusto vitae dicta tempora. Quam voluptatem accusantium at, aut hic repellat illo sint! Porro asperiores modi beatae enim aspernatur sed velit nemo dolorum molestiae et? Facilis laboriosam reprehenderit doloremque veritatis labore!</p>
        <div id="img3" class="aboutImg shadow"></div>
    </div>
</div>