<section id="sectionAbout">
    <h2 id="h2AboutMeHeader">About Me</h2>
    <div id="pAboutInfo">
        <p class="pAbout">
            My name is Ryan Drew. I recently graduated from the University of Michigan with a degree in, you guessed it, Computer Science.
        </p>
        <p class="pAbout">
            I'm currently employed as a full-stack software developer at McCreadieGroup Inc., a business local to the Ann Arbor area that hosts websites for the research of investigational drugs.
        </p>
        <p class="pAbout">
            However, I am also open to freelance work during my off-hours. Take a look at the projects I've worked on below, and reach out if you'd like me to make a website for you!
        </p>
        <p class="pAbout">
            Thanks for visiting!
        </p>
    </div>
</section>