<section id="contact">
    <h2>Contact</h2>
    <form id="formContact" action="https://formspree.io/f/xjvlejrj" method="POST">
        <div id="nameWrapper">
            <label id="lblName" for="name">Name:</label>
            <input type="text" id="txtName" name="name">
        </div>
        <div id="emailWrapper">
            <label id="lblEmail" for="email">Email:</label>
            <input type="email" id="txtEmail" name="email">
        </div>
        <div id="messageWrapper">
            <label id="lblMessage" for="message">Message:</label>
            <textarea id="txtMessage" name="message"></textarea>
        </div>
        <div id="btnWrapper">
            <button type="submit" id="btnSend">Send</button>
        </div>
        <p id="successMessage" class="hidden">
            I got your message! Thanks for reaching out, I'll get back to you as soon as possible!
        </div>
    </form>
</section>