<section id="sectionIntro">
    <div class="centerContent">
        <div id="introGrid" class="restrictWidth">
            <div id="nameAndInfo">
                <div id="hiImRyan" class="invisible textShadow">
                    <h1 id="hi">Hi,</h1>
                    <h1 id="imRyan">I'm <span id="name">Ryan</span></h1>
                </div>
                <h2 id="shortDescription" class="invisible">I'm a full-stack software developer.</h2>
                <p id="scrollDown" class="invisible">Scroll down to learn more about me.</p>
                <img id="imgDownArrow" class="invisible" src="/assets/images/whiteDownArrow.png">
            </div>
            <div id="imgStandingPictureWrapper">
                <img id="imgStandingPicture" src="/assets/images/standingPersonCropped.png">
            </div>
        </div>
    </div>
</section>