<!-- <div id="projectsFlexbox">
    {% for project in site.data.projects %}
    <div class="project shadow">
        <div class="projectImgAndButton">
            <img class="projectImg" src="/assets/images/{{ project.image }}">
            <div class="overlay invisible"></div>
            <button class="btnViewProject invisible" onclick="window.open('{{ project.link }}','_blank')">VIEW</button>
        </div>
        <div class="projectAboutWrapper">
            <h3 class="h3ProjectName">
                {{project.name}}
            </h3>
            <p class="projectAbout">{{ project.about }}</p>
        </div>
    </div>
{% endfor %}
</div> -->

<div id="projectsFlexbox">
    {% for project in site.data.projects %}
    <div class="project shadow">
        <div class="projectNameWrapper">
            <h3 class="projectName">{{project.name}}</h3>
        </div>
        <div class="projectImgAndButton">
            <img class="projectImg" src="/assets/images/{{ project.image }}">
            <div class="overlay invisible"></div>
            <button class="btnViewProject invisible" onclick="window.open('{{ project.link }}','_blank')">VIEW</button>
        </div>
        <p class="projectAbout">{{project.about}}</p>
    </div>
    {% endfor %}
</div>