#sectionAbout {
    background-color: #020122;
    min-height: 100vh;
    max-height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto;
    grid-template-areas: "header header"
                         "aboutInfo picture"
}

#h2AboutMeHeader {
    grid-area: header;
    margin: 2% 0;
}

#pAboutInfo {
    grid-area: aboutInfo;
    text-align: justify;
    font-size: 1.3rem;
}

.pAbout {
    line-height: 1.5;
}

#imgStandingPictureWrapper {
    grid-area: picture;
    display: flex;
    justify-content: right;
    height: 80vh;
}

#imgStandingPicture {
    height: 100%;
    width: auto;
}