#sectionAbout {
    min-height: 100vh;
    max-height: fit-content;
    width: 100vw;
}

#aboutGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "info info img1"
                         "info info img2"
                         "info info img3";

    height: 100%;
    width: 100%;
    flex-grow: 1;
}

#aboutInfoBackground {
    grid-area: info;
    background-color: var(--primaryColor);
    border-radius: 20px;
    padding: 60px;
    z-index: 1;
}

.aboutInfo {
    padding: 0;
    margin: 0;
    text-align: left;
}

.aboutImg {
    border-radius: 50px;
    width: 30vw;
    position: relative;
    left: -3vw;
}

#img1 {
    grid-area: img1;
    background-color: darkgrey;
    position: relative;
    top: -3vw;
    z-index: -1;
}

#img2 {
    grid-area: img2;
    background-color: grey;
    left: -1vw;
    z-index: 2;
}

#img3 {
    grid-area: img3;
    background-color: darkgrey;
    top: 3vw;
    z-index: 0;
}

// #info1 {
//     grid-area: info1;
// }

// #info2 {
//     grid-area: info2;
// }

// #info3 {
//     grid-area: info3;
// }

@media screen and (max-width: 800px) {

}