#about {
    height: fit-content;
    width: 100%;
}

#aboutFlexbox {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.aboutBlurb {
    width: 100%;
    max-width: 1000px;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "img info";
    gap: 25px;
}

.aboutBlurb:nth-child(even) {
    align-self: flex-end;
    grid-template-areas: "info img";
}

#aboutInfoBackground {
    grid-area: info;
    background-color: var(--primaryColor);
    border-radius: 20px;
    padding: 60px;
    margin: 60px 0;
    z-index: 1;
}

.aboutInfo {
    padding: 0;
    margin: 0;
    text-align: left;
    font-weight: bold;
    color: black;
    letter-spacing: normal;
    line-height: 1.5;
    grid-area: info;
    display: flex;
    align-items: center;
}

.aboutImg {
    border-radius: 20px;
    height: 30vh;
    width: 100%;
    grid-area: img;
    object-fit: cover;
    object-position: top;
}

#img1 {
    background-color: darkgrey;
}

#img2 {
    background-color: grey;
}

#img3 {
    background-color: darkgrey;
}

@media screen and (max-width: 800px) {
    .aboutBlurb:nth-child(n) {
        grid-template-columns: 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "img"
                             "info";
    }

    .aboutInfo {
        justify-content: center;
        padding: 0 5%;
    }
}