#contact {
    height: fit-content;
    background-color: var(--secondaryColor);
}

#formContact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "name email"
                         "message message"
                         "button button";
    text-align: left;
    gap: 30px;
}

label {
    margin-bottom: 0.5rem;
    height: 15px;
}

input, textarea {
    border-radius: 5px;
    padding: 5px;
    font-size: 1rem;
    width: 100%;
}

input {
    height: 4ch;
}

textarea {
    height: 15ch;
    resize: none;
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.formControlWrapper {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

#nameWrapper {
    grid-area: name;
}

#nameWrapper > #lblName {
    grid-area: title;
}

#nameWrapper > #txtName {
    grid-area: textbox;
}

#nameWrapper > #rfvName {
    grid-area: rfv;
}

#emailWrapper {
    grid-area: email;
}

#emailWrapper > #lblEmail {
    grid-area: title;
}

#emailWrapper > #txtEmail {
    grid-area: textbox;
}

#emailWrapper > #rfvEmail {
    grid-area: rfv;
}

#messageWrapper {
    grid-area: message;
}

#btnWrapper {
    grid-area: button;
    display: flex;
    justify-content: center;
}

.required {
    color: #fff;
    background-color: #9590A8;
    border-color: #f5c6cb;
    height: 4ch;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    margin-top: 5px;
    width: 100%;
    font-size: 15px;
    padding: 5px;
}

@media screen and (max-width: 800px) {
    #formContact {
        grid-template-areas: "name"
                             "email"
                             "message"
                             "button";

        grid-template-columns: 1fr;
    }
}