#sectionIntro {
    height: 100vh;
    padding-top: 20vh;
    padding-bottom: 0;
    background-color: var(--primaryColor);
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: "name picture";
}

#nameAndInfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: name;
}

#h1HiImRyan {
    margin: 0;
    animation: slideUp 1s ease-out;
}

#h1HiImRyan > * {
    font-size: 84px;
}

#name {
    color: var(--secondaryColor);
}

#shortDescription {
    font-size: 1.563rem;
    flex-grow: 1;
    animation: slideUp 1s ease-out .5s;
}

#scrollDown {
    animation: slideUp 1s ease-out 1s;
}

#imgDownArrow {
    height: 20px;
    width: 20px;
    animation: slideUp 1s ease-out 1s;
}

#imgStandingPictureWrapper {
    grid-area: picture;
    display: flex;
    justify-content: right;
    height: 100%;
}

#imgStandingPicture {
    height: 100%;
    width: auto;
}


@keyframes slideUp {
    0% {
        opacity: 0;
        transform: translateY(100px);
    }

    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}