:root {
    --primaryColor: #d95c1a;
    --secondaryColor: #020122;
  }

  *{
    box-sizing: border-box;
  }
  
  html, body {
    padding: 0;
    margin: 0;
    font: 20px "Lucida Grande", Helvetica, Arial, sans-serif;
    /*overflow: hidden;*/
    color: white;
    height: fit-content;
    width: 100%;
    background-color: #d95c1a;
    scroll-behavior: smooth;
    text-align: center;
  }
  
  ::-webkit-scrollbar {
    width: 7px;
  }
  
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  ::-webkit-scrollbar-thumb {
    background: #9590A8;
  }

  h1, h2, h3, h4, h5, h6 {
    margin: 2% 0;
  }

  h1 {font-size: 10rem;}
  h2 {font-size: 6rem;}
  h3 {font-size: 4rem;}
  h4 {font-size: 3rem;}
  h5 {font-size: 2rem;}
  h6 {font-size: 1rem;}

  section {
    padding: 2% 14%;
  }
  
  a {
    color: #00B7FF;
  }
  
  button {
    font-size: 16px;
    letter-spacing: 2px;
    font-weight: 700 !important;
    text-transform: uppercase;
    background: transparent;
    color: #9590A8;
    padding: 23px 50px;
    text-align: center;
    display: inline-block !important;
    text-decoration: none;
    border: 3px solid #9590A8;
    width: max-content;
    cursor: pointer;
    transition: all 0.3s 0s ease-in-out;
    border-radius: 35px;
  }
  
  button:hover {
    background-color: #9590A8;
    color: white;
    text-decoration: none;
  }
  
  // Hide, but keep spacing
  .invisible {
    opacity: 0 !important;
  }

  // Hide, and do not take up space
  .hidden {
    display: none !important;
  }