<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description" content="Ryan Drew Personal Portfolio">
    <meta name="keywords" content="HTML, CSS, JavaScript, Ryan, Drew, Dev, Portfolio">
    <meta name="author" content="Ryan Drew">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/styles.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script type="text/javascript" src="/assets/js/intro.js"></script>
    <script type="text/javascript" src="/assets/js/contact.js"></script>
    <script type="text/javascript" src="/assets/js/scroll.js"></script>
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#020122">
    <meta name="theme-color" content="#d95c1a">
    <title>Ryan Drew</title>
</head>
<body>
    {% include header.html %}
    {% include intro.html %}
    {% include section.html name="about" title="About Me" content="about.html" %}
    {% include section.html name="projects" title="Projects" content="projects.html" %}
    {% include section.html name="contact" title="Contact Me" content="contact.html" %}
</body>
</html>